<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to {applicationName}!</title>
  </head>
  <body>
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      bgcolor="#ffffff"
      style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto"
    >
      <tbody>
        <tr>
          <td
            width="100%"
            align="center"
            style="
              padding: 0px;
              margin: 0px auto;
              font-size: 0px;
              line-height: 1px;
              padding: 0px;
            "
          >
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              align="center"
              bgcolor="#F5F8FA"
              width="100%"
              class="m_-5002917796937451353width_full"
              dir="ltr"
              style="
                padding: 0px;
                line-height: 1px;
                font-size: 1px;
                margin: 0px auto;
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      padding: 0px;
                      margin: 0px auto;
                      font-size: 0px;
                      line-height: 1px;
                      padding: 0px;
                    "
                  >
                    <table
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                      align="center"
                      bgcolor="#ffffff"
                      width="450"
                      class="m_-5002917796937451353width_full"
                      style="
                        padding: 0px;
                        line-height: 1px;
                        font-size: 1px;
                        margin: 0px auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            class="m_-5002917796937451353width_20"
                            width="24"
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            &nbsp;
                          </td>
                          <td
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              border="0"
                              align="center"
                              dir="ltr"
                              style="
                                padding: 0px;
                                line-height: 1px;
                                font-size: 1px;
                                margin: 0px auto;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    height="24"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>

                                <tr>
                                  <td
                                    height="24"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    dir="ltr"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-family: 'Helvetica Neue', Helvetica,
                                        Arial, sans-serif;
                                      font-size: 24px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: bold;
                                      line-height: 32px;
                                    "
                                  >
                                    Welcome to {applicationName}!
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    height="24"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    dir="ltr"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-family: 'Helvetica Neue Light',
                                        Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: normal;
                                      line-height: 20px;
                                      font-family: 'Helvetica Neue Light',
                                        Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: normal;
                                      line-height: 22px;
                                    "
                                  >
                                    <p>Hello {name}!</p>
                                    <p>
                                      We're thrilled to have you join our
                                      community! Whether you're here to connect
                                      with friends, share your passions, or
                                      discover new interests, you've come to the
                                      right place. Here are a few tips to get
                                      you started:
                                    </p>
                                    <ol>
                                      <li>
                                        <b>Create Your Profile:</b> Let us know
                                        a bit about you! Add a profile picture
                                        and a bio to help others get to know you
                                        better.
                                      </li>
                                      <li>
                                        <b>Explore:</b> Check out trending
                                        topics, join groups, and follow people
                                        who share your interests.
                                      </li>
                                      <li>
                                        <b>Engage:</b> Don't be shy! Like,
                                        comment, and share posts to start
                                        conversations and make new connections.
                                      </li>
                                      <li>
                                        <b>Stay Safe:</b> Remember to respect
                                        others and follow our community
                                        guidelines. If you ever feel
                                        uncomfortable, our support team is here
                                        to help.
                                      </li>
                                    </ol>
                                    <p>
                                      Once again, welcome! We're excited to see
                                      what you'll bring to our community.
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    height="24"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    height="24"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="left"
                                    dir="ltr"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-family: 'Helvetica Neue Light',
                                        Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: normal;
                                      line-height: 20px;
                                      font-family: 'Helvetica Neue Light',
                                        Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: normal;
                                      line-height: 22px;
                                    "
                                  >
                                    Thanks,<br />
                                    {applicationName}'s Team
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    height="32"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td
                            class="m_-5002917796937451353width_20"
                            width="24"
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                      align="center"
                      width="450"
                      class="m_-5002917796937451353width_full"
                      bgcolor="#ffffff"
                      style="
                        padding: 0px;
                        line-height: 1px;
                        font-size: 1px;
                        margin: 0px auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            class="m_-5002917796937451353width_20"
                            width="24"
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            &nbsp;
                          </td>
                          <td
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            <table
                              align="center"
                              dir="ltr"
                              style="
                                padding: 0px;
                                line-height: 1px;
                                font-size: 1px;
                                margin: 0px auto;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    height="48"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>

                                <tr>
                                  <td
                                    height="12"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    align="center"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-family: 'Helvetica Neue Light',
                                        Helvetica, Arial, sans-serif;
                                      font-size: 12px;
                                      padding: 0px;
                                      margin: 0px;
                                      font-weight: normal;
                                      line-height: 16px;
                                      text-align: center;
                                      margin: auto;
                                      color: #8899a6;
                                    "
                                  >
                                    <span
                                      class="m_-5002917796937451353addressLink"
                                      >{applicationName}</span
                                    >
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    height="50"
                                    style="
                                      padding: 0px;
                                      margin: 0px auto;
                                      font-size: 0px;
                                      line-height: 1px;
                                      padding: 0px;
                                    "
                                  >
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td
                            class="m_-5002917796937451353width_20"
                            width="24"
                            style="
                              padding: 0px;
                              margin: 0px auto;
                              font-size: 0px;
                              line-height: 1px;
                              padding: 0px;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr class="m_-5002917796937451353hide">
                  <td
                    class="m_-5002917796937451353hide"
                    height="32"
                    style="
                      padding: 0px;
                      margin: 0px auto;
                      font-size: 0px;
                      line-height: 1px;
                      padding: 0px;
                    "
                  >
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            id="m_-5002917796937451353hide"
            align="center"
            style="
              padding: 0px;
              margin: 0px auto;
              color: #ffffff;
              font-family: Arial, sans-serif;
              font-size: 14px;
            "
          >
            ————————————————————————————
          </td>
        </tr>
        <tr>
          <td
            id="m_-5002917796937451353hide"
            align="center"
            style="padding: 0px; margin: 0px auto"
          >
            <table
              align="center"
              style="
                padding: 0px;
                line-height: 1px;
                font-size: 1px;
                margin: 0px auto;
              "
            >
              <tbody>
                <tr>
                  <td
                    width="135"
                    height="1"
                    style="padding: 0px; margin: 0px auto"
                  >
                    <img
                      src="https://ci4.googleusercontent.com/proxy/SoWCQOMRDq_a0-Djhzpfp0WjZ4MR3e8NGibOFCVxwar8sSCZv4TE74DAvAXin4Y7Jfs8YhqRIBdHtvR8MPYX1FcunlJ_S8z4BWfwaJHFXYXntCYjqpCX=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png"
                      height="1"
                      width="130"
                      style="
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        border: none;
                        outline: none;
                      "
                      class="CToWUd"
                    />
                  </td>
                  <td
                    width="135"
                    height="1"
                    style="padding: 0px; margin: 0px auto"
                  >
                    <img
                      src="https://ci4.googleusercontent.com/proxy/SoWCQOMRDq_a0-Djhzpfp0WjZ4MR3e8NGibOFCVxwar8sSCZv4TE74DAvAXin4Y7Jfs8YhqRIBdHtvR8MPYX1FcunlJ_S8z4BWfwaJHFXYXntCYjqpCX=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png"
                      height="1"
                      width="130"
                      style="
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        border: none;
                        outline: none;
                      "
                      class="CToWUd"
                    />
                  </td>
                  <td
                    width="135"
                    height="1"
                    style="padding: 0px; margin: 0px auto"
                  >
                    <img
                      src="https://ci4.googleusercontent.com/proxy/SoWCQOMRDq_a0-Djhzpfp0WjZ4MR3e8NGibOFCVxwar8sSCZv4TE74DAvAXin4Y7Jfs8YhqRIBdHtvR8MPYX1FcunlJ_S8z4BWfwaJHFXYXntCYjqpCX=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png"
                      height="1"
                      width="130"
                      style="
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        border: none;
                        outline: none;
                      "
                      class="CToWUd"
                    />
                  </td>
                  <td
                    width="135"
                    height="1"
                    style="padding: 0px; margin: 0px auto"
                  >
                    <img
                      src="https://ci4.googleusercontent.com/proxy/SoWCQOMRDq_a0-Djhzpfp0WjZ4MR3e8NGibOFCVxwar8sSCZv4TE74DAvAXin4Y7Jfs8YhqRIBdHtvR8MPYX1FcunlJ_S8z4BWfwaJHFXYXntCYjqpCX=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png"
                      height="1"
                      width="130"
                      style="
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        border: none;
                        outline: none;
                      "
                      class="CToWUd"
                    />
                  </td>
                  <td
                    width="135"
                    height="1"
                    style="padding: 0px; margin: 0px auto"
                  >
                    <img
                      src="https://ci4.googleusercontent.com/proxy/SoWCQOMRDq_a0-Djhzpfp0WjZ4MR3e8NGibOFCVxwar8sSCZv4TE74DAvAXin4Y7Jfs8YhqRIBdHtvR8MPYX1FcunlJ_S8z4BWfwaJHFXYXntCYjqpCX=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png"
                      height="1"
                      width="130"
                      style="
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        border: none;
                        outline: none;
                      "
                      class="CToWUd"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
